/* this is just my story and it doesn't have to be yours as well :)) */
h1 {
  font-size: 25px;
  text-align: center;
  margin: 55px;
  color: #3858e9;
}

h4 {
font-size: 20px;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

/* vertical line */
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  background-color: #3858e9;
}

.timeline li {
  position: relative;
  margin-bottom: 50px;
}

.timeline li:before,
.timeline li:after {
  content: '';
  display: table;
}

.timeline li:after {
  clear: both;
}
/*square divs*/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fcfcfc;
  padding: 20px;
  position: relative;
  border: 1px solid #3858e9;
  border-radius: 2px;
}

.timeline li .timeline-panel:before {
  content: '';
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
}

.timeline li .timeline-panel:after {
  content: '';
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
}

.timeline li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0 4px 8px 0 rgba(47, 8, 175, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: -25px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  line-height: 50px;
  background: #3858e9;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  right: auto;
  left: -15px;
  border-left-width: 15px;
  border-right-width: 0;
  border-left-color: #ccc;
  border-right-color: transparent;
}

.timeline li.timeline-inverted .timeline-panel:after {
  right: auto;
  left: -14px;
  border-left-width: 14px;
  border-right-width: 0;
  border-left-color: #fff;
  border-right-color: transparent;
}

.timeline li:last-child {
  margin-bottom: 0;
}

footer {
  font-size: 12px;
  text-align: center;
  margin: 80px;
}

@media (max-width: 600px) {
  .timeline:before {
    left: 20px;
  }
  .timeline li .timeline-panel {
    width: calc(100% - 90px);
    float: right;
  }
  .timeline li .timeline-image {
    left: 0;
    margin-left: 0;
  }
  .timeline li.timeline-inverted .timeline-panel {
    float: right;
  }
}

